@import "./common";
$PRIMARYCOLOR : #eee;
$SECONDCOLOR : #B3B842;
.bt-rice-next{
    background-color: $SECONDCOLOR ;
    border: 0;
    margin-bottom: 3%;    

}
.bt-rice-back{
    background-color: #c2c2c2;
    border: 0;
    margin-bottom: 3%;

}