@import "./common";


.bt-rice-next{
    background-color: $SECONDCOLOR ;
    border: 0;
    color: #ffffff;
    margin: 3%;
 

}
.bt-rice-back{
    background-color: #c2c2c2;
    border: 0;

    margin: 3%;

}