$PRIMARYCOLOR : #eee;
$SECONDCOLOR : #B3B842;
$THIRD : #353E3B;
$FONT: 'Kanit', sans-serif;



.third-bg {
    background-color: $THIRD;
}
.bg-form {
    background-color: #f2f2f2;
}
.second-bg {
    background-color:$SECONDCOLOR;
}
.primary-cl{
    color: #eee;
}
.primary-bg{
    background-color: #eee;
}
.font-fam{
    font-family: $FONT;
}

.primary-cl{
    color: $PRIMARYCOLOR;
}
  