.bodyCard {
  margin-top: 3%;

}
body {
  background: url(https://images.unsplash.com/photo-1565647952915-9644fcd446a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80&fbclid=IwAR1X91R-7x7rs6uGAhYcSd9bBmjE_zNTG_zB06QWaz2IJx5_DeSctMG4QIo);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.backGround{
    background-color: rgba(255, 255, 255, 0.89);
    border: 0;
    border-radius: 5%;
    margin-top: 3%;

}

