.buttonfor {
  width: 180px;
  padding: 2%;
  font-size: large;
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 10%;
}

.next {
  background-color: #B3B842;
  border: 0;
  margin-left: 240px;
}

.back {
  background-color: #d5d5d5;
  border: 0;
  margin-left: 0px;
}
