.third-bg {
  background-color: #353E3B;
}

.bg-form {
  background-color: #f2f2f2;
}

.second-bg {
  background-color: #B3B842;
}

.primary-cl {
  color: #eee;
}

.primary-bg {
  background-color: #eee;
}

.font-fam {
  font-family: "Kanit", sans-serif;
}

.primary-cl {
  color: #eee;
}

.bt-rice-next {
  background-color: #B3B842;
  border: 0;
  color: #ffffff;
}

.bt-rice-back {
  background-color: #c2c2c2;
  border: 0;
}
