.third-bg {
  background-color: #353E3B;
}

.bg-form {
  background-color: #f2f2f2;
}

.second-bg {
  background-color: #B3B842;
}

.primary-cl {
  color: #eee;
}

.font-fam {
  font-family: "Kanit", sans-serif;
}

.font {
  font-family: "Kanit", sans-serif;
}

.body-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.iconRight {
  text-align: right;
}

.iconsize {
  width: 2%;
}
