.first-form {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: #eeeeee;
  border-radius: 40px;
}

select {
  border: solid 1px;
  border-radius: 5px;
}

#region {
  border: solid 1px;
  border-radius: 5px;
  padding: 1% 0% 1% 0%;
  width: 600px;
}

.selectRG {
  padding: 3% 1% 1% 1%;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
