.third-bg {
  background-color: #353E3B;
}

.bg-form {
  background-color: #f2f2f2;
}

.second-bg {
  background-color: #B3B842;
}

.primary-cl {
  color: #eee;
}

.font-fam {
  font-family: "Kanit", sans-serif;
}

.bg-img {
  background-image: url("https://images.unsplash.com/photo-1516619774863-467b60d05aa0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=968&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}

.br-5 {
  border-radius: 5%;
}
