.bg-img {
  background-image: url("https://images.unsplash.com/photo-1516619774863-467b60d05aa0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=968&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}

.br-5 {
  border-radius: 5%;
}
